div{background-image: url(123.jpg);}
p{width: 70px;
	height: 70px;
	margin: 5px}
p{background-color:#FF6600;}
div{width: 300px;
padding: 10px;
}
p{float:left;}
p{border-radius: 10%;border-style: outset;}
p{font-size: 35px;text-align: center;}
